.main {
    margin: 300px 0;
}

.forms {
    width: 700px;
    margin: 0 auto;
}

.mode, .players {
    margin-bottom: 25px;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    position: static;
    width: 40%;
}

thead th {
    background: #00dbde;
    color: #FFF;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
  }
  
tr, td {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
    height: 50px;
    color: black;
    text-align: center;
  }
  
th {
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
    font-size: 18px;
}


.players input {
    margin-right: 10px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

#button {
    border-radius: 30px;
    width: 100px;
}